.container[b-57zp86n77n] {
    margin-top: 0%;
    padding-right: 30px;
    display: inline-block;
    float: right;
    color: floralwhite;
}

.dashboard[b-57zp86n77n] {
    background-color: floralwhite;
    border-color: rgb(8, 103, 136);
    color: rgb(8, 103, 136);
    cursor: pointer;
    font-weight: bold;
    border-radius: 100px;
    font-size: 15px;
    transition: background-color 0.7s, color 0.7s;
    margin-right: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

    .dashboard:hover[b-57zp86n77n] {
        background-color: rgb(8, 103, 136);
        color: floralwhite;
    }

    .dashboard:active[b-57zp86n77n] {
        opacity: 0.7;
    }

