@inherits LayoutComponentBase
@using BlazorBootstrap.Components
<!--The default layout for the razor pages-->
<div class="page">

    <main>
        <div class="top-row px-4">
           <!--Put a bar across the top of the page with the Home button and Sign out button-->
            <a><SignOutButton/></a>

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


