
.top-row[b-f6m5j3twh4] {

    background-image: linear-gradient(180deg, rgb(158, 179, 194) 0%, rgb(108, 129, 144) 100%);
    height: 3.0rem;
    display: flex;
    align-items: center;
    margin-top: 0px;
    
}

main[b-f6m5j3twh4] {
    display: block;
    height: 94vh;
    background-image: linear-gradient(180deg, rgb(249, 160, 63) 0%, rgb(212, 81, 19) 170%);
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    box-sizing: border-box;
}


.grid-content[b-f6m5j3twh4] {
    padding: 20px;
    padding-top: 0;
}

h3[b-f6m5j3twh4] {
    display: inline-grid;
    font-family: "Courier New", "Lucida Console", monospace;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 1rem;
    color: floralwhite;
    padding-top: 2%;
    padding-left: 2%;
    
}

p[b-f6m5j3twh4] {
    color: floralwhite;
    padding-left: 2%;
    line-height: 1;
    
}
.modal-text[b-f6m5j3twh4] {
    color: black;
    line-height: 2;
}
