@rendermode InteractiveServer
@using DataLibrary
@using DataLibrary.Models
@inject IUserData _user
@inject IConfiguration _config
@inject NavigationManager nav

    <button class="dashboard" @onclick="GoToHome">Dashboard</button>


@code {
    public void GoToHome()
    {
        Console.WriteLine("Navigating to Home Page...");
        nav.NavigateTo("/");
    }
}
