@page "/"
@rendermode InteractiveServer
@using DataLibrary
@using DataLibrary.Models
@using Microsoft.Extensions.Configuration

<!-- Injections -->
@inject IUserData _user
@inject IConfiguration _config
@inject NavigationManager nav

<PageTitle>Home</PageTitle>

<h1>
    Release Notes Management Tool

</h1>

Please choose an operation to perform using the buttons below:

<p>
    <Button Type="ButtonType.Link" Color="ButtonColor.Primary" To="/add"> Create a New Release Note Record </Button>
    <Button Type="ButtonType.Button" Color="ButtonColor.Primary" @onclick="GoToView"> Show Existing Release Note Records </Button>
</p>
@code{
    List<ReleaseNotesModel> notes = new();
    private UserModel currentUser;
    protected async override Task OnInitializedAsync()
    {
        currentUser = _user.GetUserSignOnInfo();
        
        if (currentUser == null)
        {

            nav.NavigateTo("/signin");
        }

    }
    public void GoToView()
    {

        nav.NavigateTo("/view", forceLoad: true);
    }
   
}
