

.container {
    display: inline-grid;
    background-color: rgb(158, 179, 194);
    
}


.split {
    height: 93.2%;
    width: 50%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    overflow-x: hidden;
    
}

.left {
    left: 0;
    background-color: rgb(249, 160, 63);
    box-sizing: border-box;
}

.right {
    right: 0;
    background-color: whitesmoke;
    box-sizing: border-box;
}

h1 {
    padding: 40px 30px;
    text-align: center;
    background-color: rgb(212, 81, 19);
    color: whitesmoke;
    font-family: monospace, "Lucida Console", "Courier New";
    font-size: 35px;
    font-weight: bold;
    border-radius: 30px;
    display: inline-block;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

p {
    font-size: 28px;
    font-family: monospace, "Lucida Console", "Courier New";
    color: whitesmoke;
    margin-top: 100px;
    margin-left: 10%;
    width: 75%;
}




.add {
    color: whitesmoke;
    font-size: 26px;
    font-family: monospace, "Lucida Console", "Courier New";
    border: none;
    width: 100%;
    cursor: pointer;
    /* set background color to light blue*/
    background-color: rgb(7, 160, 195);
    margin-top: 0%;
    display: inline-block;
    
    box-sizing: border-box;
    transition: opacity 0.5s;
    height: 390px;
}

.add:hover {
    opacity: 0.6;
}

.add:active {
    color: black;
}

.view {
    color: whitesmoke;
    font-size: 26px;
    font-family: monospace, "Lucida Console", "Courier New";
    border: none;
    border-radius: 0px;
    height: 379px;
    width: 100%;
    cursor: pointer;
    background-color: rgb(8, 103, 136);
    transition: opacity 0.5s;
    
}

.view:hover {
    opacity: 0.6;
}

.view:active {
    color: black;
}

main-layout {
    height: 100vh;
    margin: 1rem;
    display: grid;
}
