@page "/"
@rendermode InteractiveServer
@using DataLibrary
@using DataLibrary.Models
@using Microsoft.Extensions.Configuration

<!-- Injections -->
@inject IUserData _user
@inject IConfiguration _config
@inject NavigationManager nav

<PageTitle>Home</PageTitle>

<div class="split left">
    <h1> Release Notes Management Tool</h1>
    <div> <p>Please choose an operation to perform using the buttons below:</p></div>
</div>



<div class="split right">
   

        <div> <button class="add" @onclick="GoToAdd">Create a New Release Note Record</button> </div>

        <div> <button class="view" @onclick="GoToView">Show Existing Release Note Records</button></div>


    
</div>



    
   
    

@code{
    List<ReleaseNotesModel> notes = new();
    private UserModel currentUser;
    protected async override Task OnInitializedAsync()
    {
        currentUser = _user.GetUserSignOnInfo();
        
        if (currentUser == null)
        {

            nav.NavigateTo("/signin");
        }

    }
    public void GoToView()
    {

        nav.NavigateTo("/view", forceLoad: true);
    }
    public void GoToAdd()
    {

        nav.NavigateTo("/add");
    }
   
}
