

.page {
    background-image: linear-gradient(180deg, rgb(0, 115, 156) 0%, rgb(4, 166, 172) 50%);
    height: 100vh;
    font-family: "Courier New", "Lucida Console", monospace;
    
}
header {
    
    text-align: center;
    color: floralwhite;
    top: 0;
   
   
}

h1 {
    padding-top: 50px;
    font-family: "Courier New", "Lucida Console", monospace;
    font-size: 100px;
    font-weight: 500;
}

.content {
    padding-top: 10%;
    display: inline;
    margin: auto;
   
}
.email-field {
    display: block;
    margin: auto;
    border-radius: 5px;
    border: 0.5px solid floralwhite;
    background-color: floralwhite;
    font-size: 14px;
    width: 30%;
    margin-top: 100px;

}


.password-field {
    display: block;
    margin: auto;
    border-radius: 5px;
    border: 0.5px solid floralwhite;
    background-color: floralwhite;
    font-size: 14px;
    width: 30%;
    margin-top: 50px;
}

#chkbx {
    display: block;
    width: 5%;
    margin: auto;
    font-weight: 600;
}

.btn {
    display: block;
    margin: auto;
    background-color: rgb(212, 81, 19);
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    width: 10%;
    transition: background-color 0.5s;
    transition: color 0.2s;
    font-weight: 600;
}

.btn:hover {
    background-color: rgb(230, 116, 41);
}

.btn:active {
    color: black;
    background-color: rgb(249, 160, 63);
}


